:root {
    --padding: 7px;
    --borderRadius: 20px;
    --boxShadow: 0px 0px 10px 0px rgba(182, 13, 13, 0.75);
}

* {
    margin: 0;
    padding: 0;
}

.row,
.col {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
body{
    overscroll-behavior: none;
    padding:0px;
}

.subjects{
    display: flex;
    align-items: center;
}

.col {
    flex-direction: column;
}

#header {
    background-color: chartreuse;
    height: 10vh;
}

#mainBody {
    height: 80vh;
    background-color: rgb(49, 48, 46);
    color: antiquewhite;
    justify-content: flex-start;

}
#result{
    height: 10vh;
    background-color: chartreuse;
  
}

#GPASelector {
    border-radius: var(--borderRadius);
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    height: 8vh;
    line-height: 8vh;
    font-size: 150%;
    box-shadow: var(--boxShadow);
    
}

.dropDown {
    border-radius: var(--borderRadius);
    padding: var(--padding);
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    box-shadow: var(--boxShadow);
    margin: var(--padding);
    font-size: 150%;
}
.dropDown1{
    font-size: 100%;

}

#GPA {
    font-size: 100%;
}
#btn{
    background-color: black;
    color: antiquewhite;
    height: 3vh;
    width: 30vw;
    line-height: 3vh;
}
